<!DOCTYPE html>
<html lang="ES">
  <head>
    <title>Almex Ejemplo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header> <! Encabezado
        <address>
            <a href="#">
                    Ubica tu sucursal más cercana
            </a>
        </address>
        <address>
            <a href="#">
                    Comunícate con nosotros
            </a>
        </address>
        <section>
            <figure>
                <img src="template\Assets\USF.png" 
                     alt="Flag">
            </figure>
            <select name="Idioma">
                <option value="Español">ES</option>
                <option value="English">EN</option>
            </select>
        </section>
        <section>
            <figure>
                <img src="template\Assets\ALMEX_Color.png" 
                     alt="Logo">
            </figure>
            <nav> <! Barra de Navegación
                <ul>
                    <li>
                        <a href="#">
                            Envíos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Soluciones
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Recursos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contactos
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <section> <!--Bienvenida-->
        <main>
            <h1>
                Nuestro Camino es historia
            </h1>
        </main>
            <address>
                <button>
                   contactanos
               </button>
            </address>
    </section>
    <section> <! Información general
        <h1>
            Somos lideres
        </h1>
        <main>
            Desde 1951 hemos sido lore ipsum dolor sit amet .................
        </main>
        <article>
            <h1>
                385
            </h1>
            <p>
                Empleados de oficina
            </p>
        </article>
        <article>
            <h1>
                560
            </h1>
            <p>
                Trailers en el camino
            </p>
        </article>
        <aside> <! Información especifica
            <section>
                <h1>
                    Empresa familiar
                </h1>
                <p>
                    Lore ipsum ..........................
                </p>
            </section>
            <section>
                <h1>
                    Dream Team
                </h1>
                <p>
                    Lore ipsum ..........................
                </p>
            </section>
            <section>
                <h1>
                    Proactive approach
                </h1>
                <p>
                    Lore ipsum ..........................
                </p>
            </section>
            <section>
                <h1>
                    Lore ipsum dolor
                </h1>
                <p>
                    Lore ipsum ..........................
                </p>
            </section>
        </aside>
    </section>
    <section> <! Galería
        <article>
            <h1>
                1951
            </h1>
            <p>
                ALMEX Lore ipsum ..................................
            </p>
        </article>
        <aside>
            <button>
                <svg width="62" 
                     height="62" 
                     viewBox="0 0 62 62" 
                     fill="none" 
                     xmlns="http://www.w3.org/2000/svg">
                    <g id="RoundButton_NavPrev">
                        <g id="Ellipse" 
                        filter="url(#filter0_d_120_903)">
                            <circle cx="31" 
                                    cy="29" 
                                    r="27" 
                                    fill="white"/>
                        </g>
                        <g id="ios-arrow-back">
                            <path id="Vector" 
                                d="M34.2399 22.9709L32.7864 21.44L25.5999 29L32.7864 36.56L34.2399 35.0291L28.5114 29L34.2399 22.9709Z" 
                                fill="#33363B"/>
                        </g>
                    </g>
                    <defs>
                        <filter id="filter0_d_120_903" 
                                x="0" 
                                y="0" 
                                width="62" 
                                height="62" 
                                filterUnits="userSpaceOnUse" 
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" 
                                     result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" 
                                           type="matrix" 
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" 
                                           result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feColorMatrix type="matrix" 
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
                            <feBlend mode="normal" 
                                     in2="BackgroundImageFix" 
                                     result="effect1_dropShadow_120_903"/>
                            <feBlend mode="normal" 
                                     in="SourceGraphic" 
                                     in2="effect1_dropShadow_120_903" 
                                     result="shape"/>
                        </filter>
                    </defs>
                </svg>
            </button>
            <figure>
                <img src="template\Assets\Carretera_gris.png" 
                     alt="Galería">
            </figure>
            <button>
                <svg width="63" 
                     height="62" 
                     viewBox="0 0 63 62" 
                     fill="none" 
                     xmlns="http://www.w3.org/2000/svg">
                    <g id="RoundButton_NavNext">
                        <g id="Ellipse" 
                           filter="url(#filter0_d_120_897)">
                            <circle cx="31.2856" 
                                    cy="29" 
                                    r="27" 
                                    transform="rotate(-180 31.2856 29)" 
                                    fill="white"/>
                        </g>
                        <g id="ios-arrow-forward">
                            <path id="Vector" 
                                  d="M28.0459 22.9709L29.4994 21.44L36.6859 29L29.4994 36.56L28.0459 35.0291L33.7744 29L28.0459 22.9709Z" 
                                  fill="#33363B"/>
                        </g>
                    </g>
                    <defs>
                        <filter id="filter0_d_120_897" 
                                x="0.285645" 
                                y="0" 
                                width="62" 
                                height="62" 
                                filterUnits="userSpaceOnUse" 
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" 
                                     result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" 
                                           type="matrix" 
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" 
                                           result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feColorMatrix type="matrix" 
                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/>
                            <feBlend mode="normal" 
                                     in2="BackgroundImageFix" 
                                     result="effect1_dropShadow_120_897"/>
                            <feBlend mode="normal" 
                                     in="SourceGraphic" 
                                     in2="effect1_dropShadow_120_897" 
                                     result="shape"/>
                        </filter>
                    </defs>
                </svg>
            </button>
        </aside>
    </section>
    <section>
        <article>
            <h1>
                NOTICIAS
            </h1>
            <h2>
                Entérate de lo Nuevo de ALMEX
            </h2>
            <button>
                Visita el Blog
            </button>
        </article>
        <article>
            <section src="#" frameborder="3"></section>
        </article>
        <article>
            <section src="#" frameborder="3"></section>
        </article>
    </section>
    <footer>
        <tfoot>
            <ul>
                <li>
                    <img src="template\Assets\ALMEX_B&W.png" alt="logoBW">
                </li>
                <li>
                    <p>
                        Lideres en servicios integrales de carga consolidados desde 1951
                    </p>
                </li>
                <nav>
                    <li>
                        <a href="#">
                             <img src="#" alt="Facebook">
                        </a>
                        <a href="#">
                            <img src="#" alt="twitter">
                        </a>
                        <a href="#">
                            <img src="#" alt="Instagram">
                        </a>
                        <a href="#">
                            <img src="#" alt="LinkedIn">
                        </a>
                    </li>
                </nav>
                <nav>
                    <li>
                        <h1>
                            ALMEX
                        </h1>
                        <a href="#">
                            Nosotros
                        </a>
                        <a href="#">
                            Ubicación de Sucursales
                        </a>
                        <a href="#">
                            Únete al equipo
                        </a>
                    </li>
                </nav>
                <nav>
                    <li>
                        <a href="#">
                            Facturación Electronica
                        </a>
                        <a href="#">
                            Pago Electrónico
                        </a>
                    </li>
                </nav>
                <nav>
                    <h1>
                        Periódico
                    </h1>
                    <form action="subscription">
                        <input type="email">
                        <input type="submit">
                    </form>
                    <a href="#">
                        <img src="#" 
                             alt="AppStore">
                    </a>
                    <a href="#">
                        <img src="#" 
                             alt="PlayStore">
                    </a>
                </nav>
            </ul>
        </tfoot>
    </footer>
  </body>
</html>